doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Email

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				h1 Email
				h3 Alex Jordan

			section
				h2.bullet Who?
				h3.bullet I'm Alex Jordan (but people call me AJ)
				h3.bullet I'm 16 and I'm a junior
				h3.bullet This is my third year of LinuxFest Northwest
				h3.bullet Apparently I have an obsession with <a href="TODO">"introduction to" presentations</a>
				h3.bullet I mostly run Arch with some Debian mixed in
				h3.bullet Emacs is the best editor

			section
				h2.bullet Why?
				h3.bullet Because talking about the internet is fun
				h3.bullet Also, email is actually really complicated
				h3.bullet Speaking of which:

			section
				h2.bullet What?
				h3.bullet Why email is as complicated as it is
				h3.bullet Traditional UNIX: MTAs, MDAs and MUAs
				h3.bullet SMTP
				h3.bullet IMAP and POP3 (briefly)

			section
				h2.bullet What? (pt. II)
				h3.bullet SPF
				h3.bullet DKIM
				h3.bullet DMARC
				h3.bullet Greylisting
				h3.bullet Tying it all together: modern email

			section
				h2 Syntax Highlighting
				h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
				pre
					code.language-javascript.
						bespoke.from('article', [
							classes(),
							keys(),
							touch(),
							bullets('li, .bullet')
						]);

			section(data-bespoke-hash='named-route')
				h2 Named Route
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
				p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

			section.emphatic-text(data-bespoke-backdrop='emphatic')
				h2 Emphatic Slide!
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

			section
				h2.bullet Just the beginning...
				br
				ul
					li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
					li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
					li Edit JavaScript in <em>'src/scripts/main.js'</em>
				br
				ul
					li
						strong Enjoy! :)
						a(href='http://twitter.com/markdalgleish')	-@markdalgleish

		script(src='build/build.js')